<h1>HOMEPAGE</h1>

<% @websites.each do |x| %>
	<p>
		<strong><%= x.id %>.</strong> <%= x.address %> "<strong><%= x.short %></strong>"
		<i><%= link_to 'Show', website_path(x) %></i>
	</p>
	<br>
<% end %>


<br>
<strong><%= link_to 'New Website', new_website_path %></strong>


<p>Find me in app/views/websites/index.html.erb</p>
